<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Create New Person</h1>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <div class="form-group">
            <label for="name">Enter name:</label>
            <input type="text" class="form-control" th:field="*{name}" id="name"/>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>
        <div class="form-group">
            <label for="surname">Enter surname:</label>
            <input type="text" class="form-control" th:field="*{surname}" id="surname"/>
            <div class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
        </div>
        <div class="form-group">
            <label for="age">Enter age:</label>
            <input type="text" class="form-control" th:field="*{age}" id="age"/>
            <div class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
        </div>
        <div class="form-group">
            <label for="email">Enter email:</label>
            <input type="text" class="form-control" th:field="*{email}" id="email"/>
            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </div>
        <div class="form-group">
            <label for="address">Enter address:</label>
            <input type="text" class="form-control" th:field="*{address}" id="address"/>
            <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
        </div>
        <input type="submit" class="btn btn-success" value="Create!"/>
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

